body {
  padding-top: 6rem;
  background-color: black;
  color: white;
}
.starter-template {
  padding: 4rem 1.5rem;
  text-align: center;
}
.nav-p {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  font-family: "Commissioner", sans-serif;
  line-height: inherit;
  white-space: nowrap;
}
